{% extends 'base.html' %}
{% load staticfiles %}
{% block mainbody %}
    <div id="review">
        <div class="hero-unit start-review new-start-review">
            <div class="row new-review-summary">
                <div class="span3">
                    <div class="row-fluid">
                        {% if can_start %}
                        <button class="span12 btn-large btn-success"
                                id="start-learning">
                            开始学习
                        </button>
                        {% else %}
                        <button class="span12 btn-large disabled"
                                id="start-learning">
                            开始学习
                        </button>
                        {% endif %}
                    </div>
                </div>
                <div class="span3">
                    <div class="row-fluid">
                        <button class="span12 btn-large btn-success"
                                id="set-word-limit">
                            设置数量
                        </button>
                    </div>
                </div>
                <div class="span3">
                    <div class="row-fluid">
                        <button class="span12 btn-large btn-success"
                                id="set-level">
                            选择范围
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'crawfish/js/index.js' %}"></script>
{% endblock %}
