<!DOCTYPE html>
<html lang="zh-CN">

{% load staticfiles %}
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="robots" content="index,follow"/>
    <meta name="viewport"
          content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">

    <title>Crawfish</title>

    <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
{#    <script src="{% static 'crawfish/js/index.js' %}"></script>#}

    <!-- Le styles -->
    <link rel="icon" type="image/png"
          href="{% static 'images/crowfish2.png' %}"/>

    <link rel="stylesheet" type="text/css"
          href="https://static.baydn.com/static/css/shanbay/jquery.noty.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://static.baydn.com/static/css/shanbay/noty_theme_default.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://static.baydn.com/static/css/datepicker.css"/>

    <link type="text/css" rel="stylesheet" href=
            {% static 'crawfish/css/shanbay.css' %}>
    <link type="text/css" rel="stylesheet" href=
            {% static 'crawfish/css/cover.css' %}>
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link href="https://static.baydn.com/static/css/shanbay-ie.93c2a39c861c3648a2ba039c3e478dbb.css" rel="stylesheet" type="text/css" />
    <![endif]-->


    <!--[if (lt IE 9) & (!IEMobile)]>
        <link href="https://static.baydn.com/static/css/shanbay-ie.93c2a39c861c3648a2ba039c3e478dbb.css" rel="stylesheet" type="text/css" />
        <![endif]-->
    <link rel="stylesheet" type="text/css"
          href="https://static.baydn.com/static/font/shanbay-fontawesome/shanbay-fontawesome-v3.css"/>
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50" class="">
<div id="hints-bundle-modal"></div>

<!-- Navbar
================================================== -->
<div id="main-navbar" class="navbar navbar-fixed-top ">
    <div class="navbar-inner" style='filter: none'>
        <div class="container">
            <a class="brand" href="/"><img
                    src={% static 'images/crowfish2.png' %}></a>
            <div class="nav-collapse">
                <ul class="nav nav-right pull-right" style="z-index: 1000">
                    <li><a href="/index/"
                           class="shortcuts-button">主页</a></li>
                    <li><a href="/accounts/logout/"
                           class="shortcuts-button">注销</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container main-body ">
    {% block mainbody %}
    
    {% endblock %}
</div>
</body>
</html>
