<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="robots" content="index,follow"/>
    <meta name="viewport"
          content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">

    <title>Crawfish</title>

    <!-- Le styles -->
    <link rel="icon" type="image/png"
          href="https://static.baydn.com/static/img/shanbay_favicon.png"/>

    <link rel="stylesheet" type="text/css"
          href="https://static.baydn.com/static/css/shanbay/jquery.noty.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://static.baydn.com/static/css/shanbay/noty_theme_default.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://static.baydn.com/static/css/datepicker.css"/>

    <!--
    comment out the 'shanbay_base_css' stylesheet
    -->


    <link type="text/css" rel="stylesheet"
          href="https://static.baydn.com/static/css/orgchart.css"/>
    <link href="https://static.baydn.com/static/css/shanbay.c7dfa2a0ba90991538f9283474281e38.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://static.baydn.com/static/css/review.d7a86c9ea43c4a2fe8e36eb9606391cf.css"
          rel="stylesheet" type="text/css"/>
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link href="https://static.baydn.com/static/css/shanbay-ie.93c2a39c861c3648a2ba039c3e478dbb.css" rel="stylesheet" type="text/css" />
    <![endif]-->


    <!--[if (lt IE 9) & (!IEMobile)]>
        <link href="https://static.baydn.com/static/css/shanbay-ie.93c2a39c861c3648a2ba039c3e478dbb.css" rel="stylesheet" type="text/css" />
        <![endif]-->
    <link rel="stylesheet" type="text/css"
          href="https://static.baydn.com/static/font/shanbay-fontawesome/shanbay-fontawesome-v3.css"/>
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50" class="">
<div id="hints-bundle-modal"></div>

<!-- Navbar
================================================== -->
<div id="main-navbar" class="navbar navbar-fixed-top ">
    <div class="navbar-inner" style='filter: none'>
        <div class="container">

            <a class="brand" href="/"><img
                    src="../assets/image/crowfish2.png"/></a>

            <div class="nav-collapse">

                <ul class="nav" style="z-index: 1040">

                    <li class="dropdown main-nav home ">
                        <a class="main-menu" href="/">首页</a>
                    </li>
                </ul>

                <form class="navbar-search pull-right" action="">
                    <div class="controls">
                        <div class="input-prepend">
                            <input type="text" class="search-input span2"
                                   placeholder="查词"/>
                            <img src="https://static.baydn.com/static/img/icon-remove.png"
                                 class="icon-remove hide"/>
                            <span class="add-on search-submited"><i
                                    class="icon-search"></i></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container main-body "></div>
</body>
</html>
